IME_HUB_SAP_SE1/database/sapr3/SAP200.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://database/sapr3" xmlns:databasesapr3="http://database/sapr3" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
  <!-- Message definition generated from P:\Users\e-decaro\IBM\IIBT10\workspace_TEST\DBSE1_SAP\SAP200.dbm -->

<!-- Complex type for Database.SAPR3.ZSWITCHCRM -->
    <xsd:complexType name="ZSWITCHCRMType">
    <xsd:sequence>
      <xsd:element name="MANDT">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EXT_UI">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATASWITCH">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATARIC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SPARTE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ORIGINE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

<!-- Global element for Database.SAPR3.ZSWITCHCRM -->
    <xsd:element ibmSchExtn:docRoot="true" name="ZSWITCHCRM" type="databasesapr3:ZSWITCHCRMType"/>
</xsd:schema>