CORPORATE_IIB_SAP_CONTABILITA/STAMPA_BOLLETTA.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema elementFormDefault="qualified"
	 attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GENERAZIONE_MASSIVA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STAMPA_BOLLETTA" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="idFatt" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="STAMPA_BOLLETTA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="aemd" minOccurs="0"/>
				<xs:element ref="indirizzo_aemd" minOccurs="0"/>
				<xs:element ref="gruppo_iren" minOccurs="0"/>
				<xs:element ref="certificazione_aemd" minOccurs="0"/>
				<xs:element ref="id_bolletta" minOccurs="0"/>
				<xs:element ref="id_contratto" minOccurs="0"/>
				<xs:element ref="n_allegati" minOccurs="0"/>
				<xs:element ref="id_fornitura" minOccurs="0"/>
				<xs:element ref="id_cliente" minOccurs="0"/>
				<xs:element ref="gruppo" minOccurs="0"/>
				<xs:element ref="cliente" minOccurs="0"/>
				<xs:element ref="tipo_servizio" minOccurs="0"/>
				<xs:element ref="periodo_fatturazione" minOccurs="0"/>
				<xs:element ref="data_scadenza_pagamento" minOccurs="0"/>
				<xs:element ref="importo" minOccurs="0"/>
				<xs:element ref="nominativo" minOccurs="0"/>
				<xs:element ref="codice_fiscale" minOccurs="0"/>
				<xs:element ref="partita_iva" minOccurs="0"/>
				<xs:element ref="nominativo_CF" minOccurs="0"/>
				<xs:element ref="codice_fiscale_CF" minOccurs="0"/>
				<xs:element ref="partita_iva_CF" minOccurs="0"/>
				<xs:element ref="fattura" minOccurs="0"/>
				<xs:element ref="data_emissione" minOccurs="0"/>
				<xs:element ref="tipo_pod" minOccurs="0"/>
				<xs:element ref="potenza" minOccurs="0"/>
				<xs:element ref="intestazione_fattura" minOccurs="0"/>
				<xs:element ref="tariffa" minOccurs="0"/>
				<xs:element ref="importo_dc" minOccurs="0"/>
				<xs:element ref="classificazione_contratto" minOccurs="0"/>
				<xs:element ref="tipo_esigere" minOccurs="0"/>
				<xs:element ref="istituto_bancario" minOccurs="0"/>
				<xs:element ref="bolletta" minOccurs="0"/>
				<xs:element ref="aem_tel" minOccurs="0"/>
				<xs:element ref="sintesi_bolletta" minOccurs="0"/>
				<xs:element ref="consumi_fa" minOccurs="0"/>
				<xs:element ref="contatori" minOccurs="0"/>
				<xs:element ref="cosf" minOccurs="0"/>
				<xs:element ref="solleciti_bollette" minOccurs="0"/>
				<xs:element ref="aggiornamento_tariffario" minOccurs="0"/>
				<xs:element ref="addebiti" minOccurs="0"/>
				<xs:element ref="acconti_energia" minOccurs="0"/>
				<xs:element ref="dettagli_iva" minOccurs="0"/>
				<xs:element ref="importi_bolletta" minOccurs="0"/>
				<xs:element ref="domiciliazione" minOccurs="0"/>
				<xs:element ref="poste" minOccurs="0"/>
				<xs:element ref="comunicazioni" minOccurs="0"/>
				<xs:element ref="allegati" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aemd">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="indirizzo_aemd">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="gruppo_iren">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="certificazione_aemd">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="id_bolletta">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="id_contratto">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="n_allegati">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="id_fornitura">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="id_cliente">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="gruppo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="destinatario" minOccurs="0"/>
				<xs:element ref="indirizzo" minOccurs="0"/>
				<xs:element ref="interno" minOccurs="0"/>
				<xs:element ref="scala" minOccurs="0"/>
				<xs:element ref="piano" minOccurs="0"/>
				<xs:element ref="cap" minOccurs="0"/>
				<xs:element ref="comune" minOccurs="0"/>
				<xs:element ref="provincia" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="destinatario">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="indirizzo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="interno">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="scala">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="piano">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cap">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="comune">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="provincia">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_servizio">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="periodo_fatturazione">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="data_scadenza_pagamento">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="importo" type="xs:string"/>
	<xs:element name="nominativo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="codice_fiscale">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="partita_iva">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nominativo_CF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="codice_fiscale_CF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="partita_iva_CF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="fattura">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="data_emissione">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_pod">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="potenza">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tipologia" minOccurs="0"/>
				<xs:element ref="disponibile" minOccurs="0"/>
				<xs:element ref="impegnata" minOccurs="0"/>
				<xs:element ref="contrattuale" minOccurs="0"/>
				<xs:element ref="tensione" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tipologia">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="disponibile">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="impegnata">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="contrattuale">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tensione">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="intestazione_fattura">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ragione_sociale" minOccurs="0"/>
				<xs:element ref="comune" minOccurs="0"/>
				<xs:element ref="indirizzo" minOccurs="0"/>
				<xs:element ref="interno" minOccurs="0"/>
				<xs:element ref="scala" minOccurs="0"/>
				<xs:element ref="piano" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tariffa">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="importo_dc">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="classificazione_contratto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="descrizione" minOccurs="0"/>
				<xs:element ref="valore" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="descrizione" type="xs:string"/>
	<xs:element name="valore">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_esigere">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="istituto_bancario">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="bolletta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="maggior_tutela" minOccurs="0"/>
				<xs:element ref="rateizzabile" minOccurs="0"/>
				<xs:element ref="invio_assegno" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="maggior_tutela">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="rateizzabile">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="invio_assegno">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="aem_tel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="data_inizio" minOccurs="0"/>
				<xs:element ref="data_fine" minOccurs="0"/>
				<xs:element ref="codice_accesso" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="data_inizio">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="data_fine">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="codice_accesso">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="consumi_fa">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="consumo_addebitato" minOccurs="0"/>
				<xs:element ref="consumi" minOccurs="0"/>
				<xs:element ref="tot_consumo_presunto" minOccurs="0"/>
				<xs:element ref="res_consumo_presunto" minOccurs="0"/>
				<xs:element ref="totale_consumo" minOccurs="0"/>
				<xs:element ref="consumi_anno" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consumo_addebitato">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="consumi">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="m"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="tot_consumo_presunto">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="res_consumo_presunto">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="totale_consumo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="consumi_anno">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contatori">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="fascia_a" minOccurs="0"/>
				<xs:element ref="fascia_1" minOccurs="0"/>
				<xs:element ref="fascia_2" minOccurs="0"/>
				<xs:element ref="fascia_3" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fascia_a">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fascia_1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fascia_2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fascia_3">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cosf">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="cosf_1"/>
				<xs:element ref="cosf_2"/>
				<xs:element ref="cosf_3"/>
				<xs:element ref="cosf_a"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cosf_1">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cosf_2">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cosf_3">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cosf_a">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="solleciti_bollette">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="elenco" minOccurs="0"/>
				<xs:element ref="totale" minOccurs="0"/>
				<xs:element ref="messaggio" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="elenco">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="totale">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="messaggio">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="aggiornamento_tariffario">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="addebiti">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="acconti_energia">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="non_soggetti_iva" minOccurs="0"/>
				<xs:element ref="unita_di_misura" minOccurs="0"/>
				<xs:element ref="valore_consumo" minOccurs="0"/>
				<xs:element ref="periodo" minOccurs="0"/>
				<xs:element ref="importo_restituito_rettifica" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="non_soggetti_iva">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="unita_di_misura">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="valore_consumo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="importo_restituito_rettifica">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dettagli_iva">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dichiarazione_intento" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="iva" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dichiarazione_intento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="numero" minOccurs="0"/>
				<xs:element ref="anno" minOccurs="0"/>
				<xs:element ref="data" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="iva">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tipo" minOccurs="0"/>
				<xs:element ref="imponibile" minOccurs="0"/>
				<xs:element ref="importo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="anno">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="data">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="numero">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo" type="xs:string"/>
	<xs:element name="imponibile" type="xs:string"/>
	<xs:element name="importi_bolletta">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="totale_bolletta" minOccurs="0"/>
				<xs:element ref="riepilogo_iva" minOccurs="0"/>
				<xs:element ref="totale_bolletta_precedente" minOccurs="0"/>
				<xs:element ref="arrotondamento_attuale" minOccurs="0"/>
				<xs:element ref="non_soggetta" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="arrotondamento_precedente" minOccurs="0"/>
				<xs:element ref="subtotale_forniture" minOccurs="0"/>
				<xs:element ref="subtotale_imp_div_forniture" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="totale_bolletta">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="riepilogo_iva">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="imponibile" minOccurs="0"/>
				<xs:element ref="importo" minOccurs="0"/>
				<xs:element ref="non_imponibile" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="non_imponibile">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="non_soggetta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="descrizione" minOccurs="0"/>
				<xs:element ref="importo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="totale_bolletta_precedente">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="arrotondamento_attuale">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="arrotondamento_precedente">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="subtotale_forniture">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="subtotale_imp_div_forniture">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="domiciliazione">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="poste">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="conto_corrente" minOccurs="0"/>
				<xs:element ref="stringa_postale" minOccurs="0"/>
				<xs:element ref="importo_poste" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="conto_corrente">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="stringa_postale">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="importo_poste">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="comunicazioni">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="avviso" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="mod_fatturazione" minOccurs="0"/>
				<xs:element ref="guasti" minOccurs="0"/>
				<xs:element ref="mod_pagamento" minOccurs="0"/>
				<xs:element ref="indennizzi" minOccurs="0"/>
				<xs:element ref="cts" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bonus_sociale" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="avviso">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="info_cliente" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bonus_sociale">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="elettrico" minOccurs="0"/>
				<xs:element ref="data_rinnovo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="elettrico">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="data_rinnovo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="info_cliente">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="mod_fatturazione">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="guasti">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="mod_pagamento">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="indennizzi">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cts">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="testo" minOccurs="0"/>
				<xs:element ref="punto_a" minOccurs="0"/>
				<xs:element ref="importo_cts_annuo" minOccurs="0"/>
				<xs:element ref="punto_b" minOccurs="0"/>
				<xs:element ref="importo_cts_fatturato" minOccurs="0"/>
				<xs:element ref="punto_c" minOccurs="0"/>
				<xs:element ref="punto_c_I" minOccurs="0"/>
				<xs:element ref="punto_c_II" minOccurs="0"/>
				<xs:element ref="punto_c_III" minOccurs="0"/>
				<xs:element ref="punto_c_IV" minOccurs="0"/>
				<xs:element ref="certificato" minOccurs="0"/>
				<xs:element ref="info_sito" minOccurs="0"/>
				<xs:element ref="punto_I" minOccurs="0"/>
				<xs:element ref="punto_II" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="testo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="punto_a">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="importo_cts_annuo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="punto_b">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="importo_cts_fatturato">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="punto_c">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="punto_c_I">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="punto_c_II">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="punto_c_III">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="punto_c_IV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="certificato">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="info_sito">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="punto_I">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ragione_sociale">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="punto_II">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="allegati">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="m">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="matricola"/>
				<xs:element ref="costante"/>
				<xs:element ref="periodo"/>
				<xs:element ref="periodo_lettura"/>
				<xs:element ref="periodo_lettura_dal"/>
				<xs:element ref="periodo_lettura_al"/>
				<xs:element ref="periodo_dal"/>
				<xs:element ref="periodo_al"/>
				<xs:element ref="n"/>
				<xs:element ref="descrizione"/>
				<xs:element ref="valore"/>
				<xs:element ref="data_scadenza"/>
				<xs:element ref="importo"/>
				<xs:element ref="data_rimozione"/>
				<xs:element ref="data_posa"/>
			</xs:choice>
			<xs:attribute name="riga" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="matricola">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="costante">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="periodo_dal">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="periodo_al">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="periodo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="periodo_lettura">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="periodo_lettura_dal">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="periodo_lettura_al">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="periodo_lettura_da">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="periodo_lettura_a">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="n">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="periodo_lettura"/>
				<xs:element ref="periodo_lettura_dal"/>
				<xs:element ref="periodo_lettura_al"/>
				<xs:element ref="data_lettura"/>
				<xs:element ref="tipo_lettura"/>
				<xs:element ref="descrizione_lettura"/>
				<xs:element ref="tipo_consumo"/>
				<xs:element ref="segnante"/>
				<xs:element ref="tipo_servizio"/>
				<xs:element ref="tipo_fascia"/>
				<xs:element ref="tipo_fascia_codice"/>
				<xs:element ref="descrizione_tariffa"/>
				<xs:element ref="tipo_addebito"/>
				<xs:element ref="tipo_addebito_codice"/>
				<xs:element ref="codice_scaglione"/>
				<xs:element ref="tipo_prezzo_codice"/>
				<xs:element ref="prezzo"/>
				<xs:element ref="quantita"/>
				<xs:element ref="unita_misura"/>
				<xs:element ref="importo"/>
				<xs:element ref="oneri_diversi"/>
				<xs:element ref="tipo_origine"/>
				<xs:element ref="tipo_iva"/>
				<xs:element ref="tipo_iva_codice"/>
				<xs:element ref="descrizione_grandezza"/>
				<xs:element ref="segnante_precedente"/>
				<xs:element ref="segnate_precedente"/>
				<xs:element ref="segnante_attuale"/>
				<xs:element ref="segnate_attuale"/>
				<xs:element ref="costante"/>
				<xs:element ref="prelievo"/>
				<xs:element ref="um"/>
			</xs:choice>
			<xs:attribute name="riga" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="data_lettura">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_lettura">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="descrizione_lettura">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="segnante">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_fascia">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_fascia_codice">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="descrizione_tariffa">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_consumo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_addebito">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_addebito_codice">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="codice_scaglione">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_prezzo_codice">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="prezzo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="quantita">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="unita_misura">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="oneri_diversi">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_origine">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_iva">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tipo_iva_codice">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="descrizione_grandezza">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="segnante_precedente">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="segnate_precedente">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="sintesi_bolletta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tot_fornitura" minOccurs="0"/>
				<xs:element ref="tot_iva" minOccurs="0"/>
				<xs:element ref="tot_bolletta" minOccurs="0"/>
				<xs:element ref="tot_altri_addebiti" minOccurs="0"/>
				<xs:element ref="tot_altri_addebiti_no_iva" minOccurs="0"/>
				<xs:element ref="tot_altri_addebiti_oneri" minOccurs="0"/>
				<xs:element ref="tot_acconto" minOccurs="0"/>
				<xs:element ref="tot_res_acconto" minOccurs="0"/>
				<xs:element ref="tot_consumo_reale" minOccurs="0"/>
				<xs:element ref="tot_rettifica_consumi" minOccurs="0"/>
				<xs:element ref="tot_fissi_bim" minOccurs="0"/>
				<xs:element ref="precedente_bolletta" minOccurs="0"/>
				<xs:element ref="saldo_arrotondamenti" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="segnante_attuale">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="segnate_attuale">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="prelievo">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="um">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="data_scadenza">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="data_rimozione">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_fissi_bim">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_consumo_reale">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_acconto">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_res_acconto">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_rettifica_consumi">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_altri_addebiti">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_iva">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_fornitura">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_altri_addebiti_oneri">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_altri_addebiti_no_iva">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="precedente_bolletta">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="saldo_arrotondamenti">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tot_bolletta">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="data_posa">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>