CORPORATE_IIB_SAP_CONTABILITA/TCR.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gruppoiren.it/schemas/tcr" xmlns:Q1="http://www.gruppoiren.it/schemas/tcr" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
	<xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
	<xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element ibmSchExtn:docRoot="true" name="TCR" type="Q1:TCRType">
	</xsd:element>

	<xsd:complexType name="TCRType">
		<xsd:sequence dfdl:separator="">
			<xsd:element dfdl:terminator="%CR;%LF;%WSP*;" name="header">
				<xsd:complexType>
					<xsd:sequence dfdl:separator=";">
						<xsd:element ibmDfdlExtn:sampleValue="head_value1" name="ATTRIBUZIONE" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="head_value2" name="CODICE_SOCIETA_PARTNER" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="head_value3" name="CENTRO_DI_COSTO" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="head_value4" name="CENTRO_DI_PROFITTO" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="head_value5" name="SETTORE_CONTABILE" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="head_value6" name="CONTO" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="head_value7" name="CHIAVE_CONTABILE" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="head_value8" name="IMPORTO" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="head_value9" name="TIPO_SCRITTURA" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="head_value10" name="AnnoMeseContabilita" type="xsd:string"/>
                        					<xsd:element name="TIPO_DOCUMENTO" type="xsd:string"/>
                    </xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
				<xsd:complexType>
					<xsd:sequence dfdl:ref="csv:CommaSeparatedFormat" dfdl:separator=";">
						<xsd:element ibmDfdlExtn:sampleValue="value1" name="ATTRIBUZIONE" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="CODICE_SOCIETA_PARTNER" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="CENTRO_DI_COSTO" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="value4" minOccurs="0" name="CENTRO_DI_PROFITTO" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="value5" minOccurs="0" name="SETTORE_CONTABILE" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="value6" minOccurs="0" name="CONTO" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="value7" minOccurs="0" name="CHIAVE_CONTABILE" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="value8" minOccurs="0" name="IMPORTO" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="value9" minOccurs="0" name="TIPO_SCRITTURA" type="xsd:string"/>
						<xsd:element ibmDfdlExtn:sampleValue="value10" minOccurs="0" name="AnnoMeseContabilita" type="xsd:string"/>
                        					<xsd:element name="TIPO_DOCUMENTO" type="xsd:string"/>
                    </xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>