SIILib/APR_flusso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:Q1="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_APN/v1" xmlns:dat="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_APR/v1">
	<xsd:import schemaLocation="APR.xsd" namespace="http://www.acquirenteunico.it/schemas/SII_AU/Flussi_APR/v1"></xsd:import>
	<xsd:element name="FlussoAPR.0050Type"
		type="dat:FlussoAPR.0050Type">
	</xsd:element>


	<xsd:element name="FlussoAPR.0100Type"
		type="dat:FlussoAPR.0100Type">
	</xsd:element>

	<xsd:element name="FlussoAPR.0150Type"
		type="dat:FlussoAPR.0150Type">
	</xsd:element>
</xsd:schema>