CORPORATE_ANAGRAFICHE_CO/SapProjectDefinitionList1536803914.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapprojectdefinitionlist1536803914" xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:sapprojectdefinitionlist="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapprojectdefinitionlist1536803914">
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability" version="7.5.0.5_IF02"/>
</xsd:appinfo>
</xsd:annotation>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="commonj.connector.asi">
<asi:annotationSet xmlns:asi="commonj.connector.asi" asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="SapProjectDefinitionList">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIBusinessObjectTypeMetadata>
</sapasi:sapBAPIBusinessObjectTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence maxOccurs="1" minOccurs="1">
<xsd:element maxOccurs="1" minOccurs="0" name="PROJECT_DEFINITION" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>PROJECT_DEFINITION</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>24</sapasi:MaxLength>
<sapasi:Description>Definizione del progetto</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="24"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>DESCRIPTION</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>40</sapasi:MaxLength>
<sapasi:Description>PS: descrizione breve (prima riga testo)</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>