IRETI_FLUX_ALFRESCO_DOCS/RemoteFiles/xsd_xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--File Authorization.xsd, application CORPORATE_WS_DOCUMENTALE--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gruppoiren.it/CORPORATE_DOCUMENTALE" xmlns:Q1="http://www.gruppoiren.it/CORPORATE_DOCUMENTALE">
    <xsd:complexType name="AuthorizationType">
    	<xsd:sequence>
    		<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
    		<xsd:element maxOccurs="1" minOccurs="1" name="password" type="xsd:string"/>
    	</xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>