CORPORATE_WS_DOCUMENTALE/Authorization.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gruppoiren.it/CORPORATE_DOCUMENTALE" xmlns:Q1="http://www.gruppoiren.it/CORPORATE_DOCUMENTALE">
    <xsd:complexType name="AuthorizationType">
    	<xsd:sequence>
    		<xsd:element name="username" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="password" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>