CORPORATE_WS_DOCUMENTALE/CORPORATE_DOCUMENTALE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.gruppoiren.it/CORPORATE_DOCUMENTALE"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns="http://CORPORATE_DOCUMENTALE"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:Q1="http://www.gruppoiren.it/CORPORATE_DOCUMENTALE">
    <xsd:include schemaLocation="Authorization.xsd"></xsd:include>
    <xsd:include schemaLocation="Create.xsd"></xsd:include>
	<xsd:include schemaLocation="Delete.xsd"></xsd:include>
	<xsd:include schemaLocation="Retrieve.xsd"></xsd:include>
	<xsd:include schemaLocation="Update.xsd"></xsd:include>
	<xsd:element ibmSchExtn:docRoot="true" name="Create"
		type="Q1:CreateType">
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="CreateResponse"
		type="Q1:CreateResponseType">
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Retrieve"
		type="Q1:RetrieveType">
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="RetrieveResponse"
		type="Q1:RetrieveResponseType">
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Update"
		type="Q1:UpdateType">
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="UpdateResponse"
		type="Q1:UpdateResponseType">
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Delete"
		type="Q1:DeleteType">
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="DeleteResponse"
		type="Q1:DeleteResponseType">
	</xsd:element>

	<xsd:element name="Authorization" type="Q1:AuthorizationType"></xsd:element>
</xsd:schema>