CORPORATE_BS_SAP_RDA/SapServiceaccount484615798.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapserviceaccount484615798" xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:sapserviceaccount="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapserviceaccount484615798">
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability" version="7.5.0.5_IF09"/>
</xsd:appinfo>
</xsd:annotation>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="commonj.connector.asi">
<asi:annotationSet xmlns:asi="commonj.connector.asi" asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="SapServiceaccount">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIBusinessObjectTypeMetadata>
</sapasi:sapBAPIBusinessObjectTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence maxOccurs="1" minOccurs="1">
<xsd:element maxOccurs="1" minOccurs="0" name="DOC_ITEM" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>DOC_ITEM</sapasi:FieldName>
<sapasi:FieldType>NUM</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>5</sapasi:MaxLength>
<sapasi:Description>Numero posizione documento d'acquisto</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="OUTLINE" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>OUTLINE</sapasi:FieldName>
<sapasi:FieldType>NUM</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>10</sapasi:MaxLength>
<sapasi:Description>Numero suddivisione</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SRV_LINE" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>SRV_LINE</sapasi:FieldName>
<sapasi:FieldType>NUM</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>10</sapasi:MaxLength>
<sapasi:Description>Numero riga</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SERIAL_NO" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>SERIAL_NO</sapasi:FieldName>
<sapasi:FieldType>NUM</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>2</sapasi:MaxLength>
<sapasi:Description>N. progr. per attrib. contabil. - Riga prestazione</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SERIAL_NO_ITEM" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>SERIAL_NO_ITEM</sapasi:FieldName>
<sapasi:FieldType>NUM</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>2</sapasi:MaxLength>
<sapasi:Description>N. progressivo della contabil. in ESKN</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="DEL_IND" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>DEL_IND</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>1</sapasi:MaxLength>
<sapasi:Description>Codice cancellazione</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="QUANTITY" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>QUANTITY</sapasi:FieldName>
<sapasi:FieldType>BCD</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>13</sapasi:MaxLength>
<sapasi:Description>Quantità con segno +/-</sapasi:Description>
<sapasi:DecimalPlaces>3</sapasi:DecimalPlaces>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="PERCENT" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>PERCENT</sapasi:FieldName>
<sapasi:FieldType>BCD</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>5</sapasi:MaxLength>
<sapasi:Description>Percentuale della distrib. del valore di contabilizzazione</sapasi:Description>
<sapasi:DecimalPlaces>1</sapasi:DecimalPlaces>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="NET_VALUE" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>NET_VALUE</sapasi:FieldName>
<sapasi:FieldType>BCD</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>11</sapasi:MaxLength>
<sapasi:Description>Valore netto della posizione</sapasi:Description>
<sapasi:DecimalPlaces>2</sapasi:DecimalPlaces>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>