CORPORATE_BS_SAP_FORNITORI/SapMesstab921295648.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapmesstab921295648" xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:sapmesstab="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapmesstab921295648">
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability" version="7.5.0.5_IF02"/>
</xsd:appinfo>
</xsd:annotation>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="commonj.connector.asi">
<asi:annotationSet xmlns:asi="commonj.connector.asi" asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="SapMesstab">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIBusinessObjectTypeMetadata>
</sapasi:sapBAPIBusinessObjectTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence maxOccurs="1" minOccurs="1">
<xsd:element maxOccurs="1" minOccurs="0" name="TCODE" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>TCODE</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>20</sapasi:MaxLength>
<sapasi:Description>Batch-Input: codice transazione</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="DYNAME" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>DYNAME</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>40</sapasi:MaxLength>
<sapasi:Description>Batch-Input: nome modulo</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="DYNUMB" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>DYNUMB</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>4</sapasi:MaxLength>
<sapasi:Description>Batch-Input: numero dynpro</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="MSGTYP" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>MSGTYP</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>1</sapasi:MaxLength>
<sapasi:Description>Batch-Input: tipo di messaggio</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="MSGSPRA" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>MSGSPRA</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>1</sapasi:MaxLength>
<sapasi:Description>Codice lingua relativo a un messaggio</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="MSGID" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>MSGID</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>20</sapasi:MaxLength>
<sapasi:Description>Batch-Input: identificazione messaggio</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="MSGNR" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>MSGNR</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>3</sapasi:MaxLength>
<sapasi:Description>Batch-Input: numero messaggio</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="MSGV1" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>MSGV1</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>100</sapasi:MaxLength>
<sapasi:Description>Parte variabile di un messaggio</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="MSGV2" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>MSGV2</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>100</sapasi:MaxLength>
<sapasi:Description>Parte variabile di un messaggio</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="MSGV3" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>MSGV3</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>100</sapasi:MaxLength>
<sapasi:Description>Parte variabile di un messaggio</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="MSGV4" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>MSGV4</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>100</sapasi:MaxLength>
<sapasi:Description>Parte variabile di un messaggio</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="ENV" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>ENV</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>4</sapasi:MaxLength>
<sapasi:Description>Batch-Input: monitoraggio attività</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="FLDNAME" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>FLDNAME</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>132</sapasi:MaxLength>
<sapasi:Description>Nome campo</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="132"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>