OutboundLib/HUB_CRM_EE_WSHubCrmEE_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://HUB_CRM_EE/IHubCrmEE" xmlns:bons1="http://HUB_CRM_EE/crm_dati" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://HUB_CRM_EE/IHubCrmEE" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import namespace="http://HUB_CRM_EE/crm_dati" schemaLocation="HUB_CRM_EE_WSHubCrmEE_InlineSchema2.xsd"/>
      <xsd:element ibmSchExtn:docRoot="true" name="SendRequestEE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outboundRequest" nillable="true" type="bons1:OutboundRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SendRequestEEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outboundResponse" nillable="true" type="bons1:OutboundResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>