InboundLib/WS_HUB_CRM_Inbound_InlineSchema4.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://HUB_CRM_EE/crm_dati" xmlns:bons1="http://HUB_CRM_EE/crm_dati" xmlns:mrm="http://WS_HUB_CRM_Inbound" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://WS_HUB_CRM_Inbound" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:complexType name="Tracking">
        <xsd:sequence>
          <xsd:element name="idMessaggio" type="xsd:string"/>
          <xsd:element name="servizio" type="xsd:string"/>
          <xsd:element name="codiceFlusso" type="xsd:string"/>
          <xsd:element name="societaVendita" type="xsd:string"/>
          <xsd:element name="segmentoCliente" type="xsd:string"/>
          <xsd:element name="sistemaFatturazione" type="xsd:string"/>
          <xsd:element name="sistemaOrigine" type="xsd:string"/>
          <xsd:element name="codicePraticaOrigine" type="xsd:string"/>
          <xsd:element name="codicePratica" type="xsd:string"/>
          <xsd:element name="codicePraticaDistributore" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>