InboundLib/WS_HUB_CRM_Inbound_InlineSchema3.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://HUB_CRM_EE/crm_dati" xmlns:bons1="http://HUB_CRM_EE/crm_dati" xmlns:mrm="http://WS_HUB_CRM_Inbound" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://WS_HUB_CRM_Inbound" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:complexType name="Ammissibilita">
        <xsd:sequence>
          <xsd:element name="esito" type="xsd:string"/>
          <xsd:element name="causale" type="xsd:string"/>
          <xsd:element name="motivazione" type="xsd:string"/>
          <xsd:element name="dataAmmissibilita" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>