InboundLib/WS_HUB_CRM_Inbound_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://WS_HUB_CRM_Inbound" xmlns:Q1="http://HUB_CRM_EE/crm_dati" xmlns:bons1="http://HUB_CRM_EE/crm_dati" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://WS_HUB_CRM_Inbound" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://WS_HUB_CRM_Inbound" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <xsd:import namespace="http://HUB_CRM_EE/crm_dati" schemaLocation="WS_HUB_CRM_Inbound_InlineSchema8.xsd"/>
    <xsd:import namespace="http://HUB_CRM_EE/crm_dati" schemaLocation="WS_HUB_CRM_Inbound_InlineSchema2.xsd"/>
            <xsd:element ibmSchExtn:docRoot="true" name="WSHubCrmInbound">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inboundRequest" nillable="true" type="Q1:InboundRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="WSHubCrmInboundResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inboundResponse" nillable="true" type="Q1:InboundResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>