IME_EE_AGGREGATORE_HUB_SWITCH/db301/aaggrega/MAC070_SWITCH_SII.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://db/aaggrega" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:db301aaggrega="http://db/aaggrega" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
  <!-- Message definition generated from P:\Users\e-odasso\IBM\IIBT10\workspaceSVILUPPO\DB_AGGREGATORE\DBAGGREGATORE.dbm -->

<!-- Complex type for DB301.AAGGREGA.MAC070_SWITCH_SII -->
    <xsd:complexType name="MAC070_SWITCH_SIIType">
    <xsd:sequence>
      <xsd:element name="MAC070_PKEY_SEQ" type="xsd:float"/>
      <xsd:element name="MAC070_ID_MAC_FK" type="xsd:float"/>
      <xsd:element minOccurs="0" name="MAC070_SERVIZIO" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_COD_FLUSSO_REQ" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_COD_FLUSSO_RES" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_TRACKSOCIETAVENDITA" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_TRACKSEGMENTOCLIENTE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_TRACKSISTEMAFATTURAZ" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_TRACKSISTEMAORIGINE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_CONTRATTODISPACCIAMENTO" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_COD_PRATICA_HUB" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_COD_PRATICA_SII" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_NOME_CLIENTE_MAC" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_COGNOME_CLIENTE_MAC" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_RAG_SOCIALE_CLIENTE_MAC" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_CDFISCALE_CLIENTE_MAC" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_PTIVA_CLIENTE_MAC" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_CFSTRANIERO_CLIENTE_MAC" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MAC070_POD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_AMM_ESITO" nillable="true" type="xsd:float"/>
      <xsd:element minOccurs="0" name="MAC070_AMM_COD_CAUSALE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_AMM_MOTIVAZIONE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_AMM_DATA" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_CODICEAUTHORITYDL" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_CANALECOMUNICAZIONE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_ESITO" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_COD_CAUSALE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_MOTIVAZIONE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_DATAESECUZIONE" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_NOTE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_CD_FISCALE_CLIENTE_SII" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_PIVA_CLIENTE_SII" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_CFSTRANIERO_CLIENTE_SII" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_CODISTAT_FORNITURA" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MAC070_DATADECORRENZA" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_AUTOCERTCONTRCONN" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_DATAFIRMCONTRATTO" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_ACQUISTOCREDITOSALVAG" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_REVOCA" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_RICHIESTADATI_TIMOE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_DATARICHIESTA_ANNULL" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_CAUSALE_ANNULL" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_MOTIVAZIONE_ANNULL" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_SOSPESO" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_CMOR_IN_CORSO" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_DATE_SOSPENSIONE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_DATE_SWITCH" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_DATA_SALVAGUARDIA" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_DATA_ULTIMA_RICH_SOSP" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_DATA_ULTIMA_SOSP" nillable="true" type="xsd:date"/>
      <xsd:element name="MAC070_TMS_CREATED" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_TMS_UPDATED" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_FLG_OUT" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_DATA_OUT" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_FLG_IN" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAC070_DATA_IN" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MAC070_ID_PROC" nillable="true" type="xsd:float"/>
      <xsd:element minOccurs="0" name="MAC070_CONSUTIVATORE" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

<!-- Global element for DB301.AAGGREGA.MAC070_SWITCH_SII -->
    <xsd:element ibmSchExtn:docRoot="true" name="MAC070_SWITCH_SII" type="db301aaggrega:MAC070_SWITCH_SIIType"/>
</xsd:schema>