CORPORATE_GET_ORE_LAVORATE/SapTimeoverview1385276126.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/saptimeoverview1385276126" xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:saptimeoverview="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/saptimeoverview1385276126">
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability" version="7.5.0.5_IF02"/>
</xsd:appinfo>
</xsd:annotation>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="commonj.connector.asi">
<asi:annotationSet xmlns:asi="commonj.connector.asi" asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="SapTimeoverview">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIBusinessObjectTypeMetadata>
</sapasi:sapBAPIBusinessObjectTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence maxOccurs="1" minOccurs="1">
<xsd:element maxOccurs="1" minOccurs="0" name="EMPLOYEENUMBER" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>EMPLOYEENUMBER</sapasi:FieldName>
<sapasi:FieldType>NUM</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>8</sapasi:MaxLength>
<sapasi:Description>Personnel Number</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="VALIDITYDATE" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>VALIDITYDATE</sapasi:FieldName>
<sapasi:FieldType>DATE</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>10</sapasi:MaxLength>
<sapasi:Description>Validity Date</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="EXTAPPLICATION" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>EXTAPPLICATION</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>5</sapasi:MaxLength>
<sapasi:Description>External Application</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="REGULARHOURS" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>REGULARHOURS</sapasi:FieldName>
<sapasi:FieldType>BCD</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>5</sapasi:MaxLength>
<sapasi:Description>Normal working hours of an employee on one day</sapasi:Description>
<sapasi:DecimalPlaces>2</sapasi:DecimalPlaces>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="REGULARBEGIN" nillable="true" type="xsd:time">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>REGULARBEGIN</sapasi:FieldName>
<sapasi:FieldType>TIME</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>0</sapasi:MaxLength>
<sapasi:Description>Normal start of employee's working time</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="REGULAREND" nillable="true" type="xsd:time">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>REGULAREND</sapasi:FieldName>
<sapasi:FieldType>TIME</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>0</sapasi:MaxLength>
<sapasi:Description>Normal End of an Employee's Working Time</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="HOLIDAYCLASS" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>HOLIDAYCLASS</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>1</sapasi:MaxLength>
<sapasi:Description>Holiday class</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="NONWORKING" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>NONWORKING</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>1</sapasi:MaxLength>
<sapasi:Description>Indicator: Employee does not need to work</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="REGWORKTIMETEXT" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>REGWORKTIMETEXT</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>20</sapasi:MaxLength>
<sapasi:Description>Text for normal working time on one day</sapasi:Description>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="ATTENDANCEHOURS" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>ATTENDANCEHOURS</sapasi:FieldName>
<sapasi:FieldType>BCD</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>5</sapasi:MaxLength>
<sapasi:Description>Attendance hours of an employee on one day</sapasi:Description>
<sapasi:DecimalPlaces>2</sapasi:DecimalPlaces>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="ABSENCEHOURS" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>ABSENCEHOURS</sapasi:FieldName>
<sapasi:FieldType>BCD</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>5</sapasi:MaxLength>
<sapasi:Description>Absence hours of an employee on one day</sapasi:Description>
<sapasi:DecimalPlaces>2</sapasi:DecimalPlaces>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="OVERTIMEHOURS" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>OVERTIMEHOURS</sapasi:FieldName>
<sapasi:FieldType>BCD</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:MaxLength>5</sapasi:MaxLength>
<sapasi:Description>Overtime hours of an employee on one day</sapasi:Description>
<sapasi:DecimalPlaces>2</sapasi:DecimalPlaces>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>